<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <a href="/">Inicio</a> |
    <a href="/miequipo">Mi equipo</a> |
    <a href="/mijugador">Mi Jugador</a> |
    <a href="/top100">TOP 100 Jugadores</a> |
    <a href="/contactanos">Contactanos</a>
    <a href="/topequipos">Top Equipos</a>

  </nav>
  <body>


  </body>
</html>
