table{
margin-left: 250px;
margin-top: 15px;
background-color: white;
}
td.cabecera{
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

td {
    color: black;
    border: 1px solid #eee;
    padding: 5px;
    border-collapse: collapse;
  }
.form{
  color: blue;
  font-size: 15px;
}
.Insertar{

  position: absolute;
  margin-left: 540px;
  margin-top: 10px;
  text-decoration: none;
}
.Insertar:hover{
  color: red;
}
